button {
  margin-top: 45px;
  width: 100%;
  min-height: 61px;
  letter-spacing: 0px;
  font-size: 25px;
  line-height: 29px;
  background: #fdbf5a;
  border-radius: 70px;
  border: none;
  margin-bottom: 34px;
}
button:focus {
  outline: none;
}
